[mysqld]
datadir= {{ xdmod_dbdir }}
socket=/var/lib/mysql/mysql.sock
#user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
key_buffer_size         = 4G
sort_buffer_size        = 16M
read_buffer_size        = 8M
join_buffer_size        = 32M
innodb_buffer_pool_size = 1G
max_allowed_packet      = 16M
tmp_table_size          = 4G
max_heap_table_size     = 128M
thread_stack            = 256K
thread_cache_size       = 16
query_cache_limit       = 16M
query_cache_size        = 1G

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

# include all files from the config directory
#
!includedir /etc/my.cnf.d
